html {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

header {
    background-color: blue;
    color: #fff;

    text-align: center;

    h1 {
        margin: 0;
        padding: 0;
    }

    nav {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline;
                background-color: #fff;
            }
        }
    }
}

main {
    padding-bottom: 180px;

    form {
        label {
            display: block;
        }

        input[type="text"],
        input[type="number"],
        input[type="date"] select,
        textarea {
            display: block;
            border-radius: 5px;
            padding: 5px 10px;
            background: #fff;
            border: 1px solid #ccc;
            margin-bottom: 5px;
        }
    }

    > section {
        margin: 0 auto;
        margin-bottom: 150px;
        width: 90vw;
        max-width: 900px;

        > section {
            border-radius: 10px;
            background-color: #fff;
            padding: 5px;

            .item {
                box-shadow: 1px 1px 10px #e2e2e2;
                margin: 10px;
                padding: 5px;
                border-radius: 3px;
            }
        }
    }
}

#registros {
    span {
        padding: 2px 5px;
        border-radius: 10px;

        &.negativo {
            background-color: red;
        }

        &.positivo {
            background-color: green;
        }
    }
}

#filtro_registro {
    label {
        display: inline;
    }
}

#analise_registros {
    h2 {
        color: green;

        &.negativo {
            color: red;
        }

        span {
            font-size: 12px;

            &:first-child {
                color: green;
            }

            &:last-child {
                color: red;
            }
        }
    }
}

footer {
    background-color: #e2e2e2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
