{% extends "base.html" %} {% block content %}
<section>
    {% if mensagem %}
        <div class="mensagem" style="background-color: {{cor}}">{{mensagem}}</div>
    {% endif %}
    <h2>Adicionar Banco</h2>
    <section id="adicionar_banco">
        <form method="post">
            {% csrf_token %}
            <select name="pessoa_id" id="pessoa" required>
                <option value="">Selecione uma Pessoa</option>
                {% for pessoa in pessoas %}
                <option value="{{pessoa.id}}">{{pessoa.nome}} [{{pessoa.email}}]</option>
                {% endfor %}
            <select>

            <label for="apelido">Apelido</label>
            <input type="text" name="apelido" id="apelido" required />
            <label for="codigo">Código</label>
            <input type="text" name="codigo" id="codigo" />
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" />
            <label for="agencia">Agência</label>
            <input type="text" name="agencia" id="agencia" />
            <label for="conta">Conta</label>
            <input type="text" name="conta" id="conta" />
            <button type="submit">Enviar</button>
        </form>
    </section>
</section>
{% endblock content %}