<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <title>Sistema de Contabilidade Residencial</title>
</head>

<body>
    <div id="page-container">
        <header>
            <h1>Sistema de Contabilidade Residencial</h1>
            <nav>
                <ul>
                    <li><a href="/">Registros</a></li>
                    <li><a href="recorrente">Recorrente</a></li>
                    <li><a href="adicionar-registro">Adicionar Registro</a></li>
                    <li><a href="pessoas">Pessoas</a></li>
                    <li><a href="adicionar-pessoa">Adicionar Pessoa</a></li>
                    <li><a href="adicionar-banco">Adicionar Banco</a></li>
                    <li><a href="tags">Tags</a></li>
                    <li><a href="analises">Análises</a></li>
                </ul>
            </nav>
        </header>
        <main>{% block content %}{% endblock %}</main>
        <footer>Sistema de Contabilidade Residencial</footer>
    </div>
</body>

</html>