{% extends "base.html" %} {% block content %}
{% load l10n %}
<section>
    {% if mensagem %}
        <div class="mensagem" style="background-color: {{cor}}">{{mensagem}}</div>
    {% endif %}
    <h2>Editar Registro</h2>
    <section id="editar_registro">
        <form method="post">
            {% csrf_token %}
            <select name="pessoa_id" id="pessoa" required>
                <option value="">Selecione uma Pessoa</option>
                {% for pessoa in pessoas %}
                <option value="{{pessoa.id}}" {% if registro.pessoa == pessoa %}selected{% endif %}>{{pessoa.nome}} [{{pessoa.email}}]</option>
                {% endfor %}
            </select>
            <select name="banco_id" id="banco" required>
                <option value="">Selecione um Banco</option>
                {% for banco in bancos %}
                <option value="{{banco.id}}" {% if registro.banco == banco %}selected{% endif %}>{{banco.apelido}}</option>
                {% endfor %}
            </select>
            <label for="data">Data</label>
            <input type="date" name="data" id="data" value="{{registro.data|date:'Y-m-d'}}" required />
            <label for="valor">Valor</label>
            <input type="number" step="0.01" name="valor" id="valor" value={{registro.valor|unlocalize}} required />
            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao">{{registro.descricao}}</textarea>
            <label for="descricao"></label>
            {% for tag in registro.tags.all %}
            <label for="tag_{{tag.id}}">Tag {{tag.id}}</label>
            <input type="text" name="tags[]" id="tag_{{tag.id}}" value="{{tag.nome}}"/>
            {% endfor %}
            {% for i in 12345|make_list %}
            <label for="tag_{{i}}">Tag {{i}}</label>
            <input type="text" name="tags[]" id="tag_{{i}}" />
            {% endfor %}
            <button type="submit">Enviar</button>
        </form>
    </section>
</section>
{% endblock content %}