{% extends "base.html" %} {% block content %}
<section>
    {% if mensagem %}
        <div class="mensagem" style="background-color: {{cor}}">{{mensagem}}</div>
    {% endif %}
    <h2>Pessoas</h2>
    <section id="pessoas">
        {% for pessoa in pessoas %}
        <div class="item">
            Nome: {{pessoa.nome}} <a href="?delete={{pessoa.id}}">[Delete]</a> <a
                href="editar-pessoa?id={{pessoa.id}}">[Editar]</a></br>
            Email: {{pessoa.email}}</br>
            Propriedades: {% for propriedade in pessoa.propriedades %}
                {{propriedade.chave}}: {{propriedade.valor}}; 
            {% endfor %}<br/>
            Bancos: {% for banco in pessoa.bancos %}
                {{banco.apelido}}; 
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</section>
{% endblock content %}