{% extends "base.j2" %}

{% block content %}
    <h1>Edit Record</h1>
    <form action="{{ url_for('edit_record', id=record.id) }}" method="post">
        Amount: <input type="text" name="amount" value="{{ record.amount }}"><br>
        Tags: <input type="text" name="tags" value="{{ tags }}"><br>
        <input type="submit" value="Update Record">
    </form>
{% endblock %}