{% extends "base.html.j2" %}

{% block content %}
<h1>Edit Record</h1>
<form action="{{ url_for('routes.edit_record', id=record.id) }}" method="post">
    <label for="amount">Valor:</label>
    <input type="number" name="amount" value="{{ record.amount }}" step="0.01"><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{ record.description }}" required><br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="{{ record.date|strftime('%Y-%m-%d') }}" required><br>
    <label for="tags">Tags:</label>
    <input type="text" name="tags" value="{{ tags }}"><br>
    <input type="submit" value="Update Record">
</form>
{% endblock %}