{% extends "base.j2" %}

{% block content %}
    <h1>Olá {{ g.user.username }}</h1>
    <form action="{{ url_for('routes.add_record') }}" method="post">
        Amount: <input type="text" name="amount"><br>
        Description: <input type="text" name="description"><br>
        Tags: <input type="text" name="tags"><br>
        <input type="submit" value="Add Record">
    </form>
    <h2>Records</h2>
    <ul>
        {% for record in records %}
            <li>{{ record.created_at }} - {{ record.description }} - {{ record.amount }} - {% for tag in record.tags %}
            <span style="background-color: {{ tag.color_hex }}">{{ tag.name }}</span>
            {% endfor %}
                <a href="{{ url_for('routes.edit_record', id=record.id) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}