{% extends "base.html.j2" %}

{% block content %}
    <h1>Login</h1>
    <form action="{{ url_for('routes.login') }}" method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
{% endblock %}